body{
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: antiquewhite;
}
#barra
nav{
    height: 50px;
    line-height: normal;
    text-align: center;
}
.item{
    display: inline;
    text-align: center;
    background-color: plum;
    padding: 1%;
}
ul{
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 50px;
    font-style: normal;
    margin: 0;
    text-align: center;
    
}
a{
    padding: 5%;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 50px;
    font-style: normal;
    text-decoration: none;
    width: 500px;
    text-emphasis: none;
    text-decoration: none;
    margin: 0;
}
li{
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-emphasis: none;
    text-decoration: none;
    height: auto;
}
li a{
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 550;
    font-size: 200%;
    font-style: normal;
    text-emphasis: none;
    text-decoration: none;
    height: 50px;
}
h1 {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    background-color: pink;
    text-align: center;
}
h2 {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    text-align: center;
}
h3 {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    text-align: center;
}

p{  
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    text-align: center;
}
blockquote{
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    text-align: center;
    height: auto;
}
.imglink{
    width: 50px;
    height: auto;
    text-align: center;
}


img{
    width: 200px;
    height: auto;
    text-align: center;
}
